# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/


# .gitignore
# Secrets & keys
.env
Server-key/
Unitel-Web.pem

# Local DB / generated data
bookings.db

# Scraper outputs / heavy assets

#scraper/_export/
#scraper/banner_screenshots/
#scraper/banner_tracking_combined.tsv
#static/ads/

# Python cache
__pycache__/
*.pyc

# Flask/other logs
*.log
